<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app_conn" value="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=omopapp;ApplicationName=OMOPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=36000;Options=-c synchronous_commit=off;"/>
		<add key="target_conn" value="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=cdmapp;ApplicationName=OMOPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=36000;Options=-c synchronous_commit=off;"/>
		<add key="vocabulary_conn" value="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=cdmapp;ApplicationName=OMOPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=36000;Options=-c synchronous_commit=off;"/>
		<add key="source_conn" value="Server=localhost;Port=5432;User Id=postgres;Password=postgres;Database=cdmapp;ApplicationName=OMOPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=36000;Options=-c synchronous_commit=off;"/>
		<add key="target_schema" value="target"/>
		<add key="source_schema" value="source"/>
		<add key="app_schema" value="public"/>
		<add key="vocabulary_schema" value="vocabulary"/>
	</appSettings>
</configuration>