<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="app_conn" value="Server=localhost;Port=5432;User Id=postgres;Password=cdm_user;Database=omopapp;ApplicationName=OMOPMAPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=0;Timeout=1000;Keepalive=30;Options=-c synchronous_commit=off;"/>
		<add key="target_conn" value="Server=localhost;Port=5432;User Id=cdm_user;Password=cdm_user;Database=cdm_gold_202107;ApplicationName=OMOPMAPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=0;Timeout=1000;Keepalive=30;Options=-c synchronous_commit=off;"/>
		<add key="vocabulary_conn" value="Server=localhost;Port=5432;User Id=cdm_user;Password=cdm_user;Database=cdm_gold_202107;ApplicationName=OMOPMAPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=0;Timeout=1000;Keepalive=30;Options=-c synchronous_commit=off;"/>
		<add key="source_conn" value="Server=localhost;Port=5432;User Id=cdm_user;Password=cdm_user;Database=cdm_gold_202107;ApplicationName=OMOPMAPBuilder;Pooling=false;IncludeErrorDetail=true;CommandTimeout=0;Timeout=1000;Keepalive=30;Options=-c synchronous_commit=off;"/>
		<add key="target_schema" value="ftarget"/>
		<add key="source_schema" value="source"/>
		<add key="app_schema" value="public"/>
		<add key="vocabulary_schema" value="public"/>
	</appSettings>
</configuration>